In [21]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [13]:
# Creating the dataset
data = {
    "Age": [22, 38, 26, 35, 35, 54, 2, 27, 14, 4],
    "Fare": [7.25, 71.28, 7.92, 53.10, 8.05, 51.86, 21.07, 11.13, 30.07, 16.70],
    "Pclass": [3, 1, 3, 1, 3, 1, 3, 3, 2, 3],
    "Survived": [0, 1, 1, 1, 0, 0, 0, 1, 1, 1]
}
df = pd.DataFrame(data)
df

   Age   Fare  Pclass  Survived
0   22   7.25       3         0
1   38  71.28       1         1
2   26   7.92       3         1
3   35  53.10       1         1
4   35   8.05       3         0
5   54  51.86       1         0
6    2  21.07       3         0
7   27  11.13       3         1
8   14  30.07       2         1
9    4  16.70       3         1

In [14]:
df.describe()

             Age       Fare     Pclass   Survived
count  10.000000  10.000000  10.000000  10.000000
mean   25.700000  27.843000   2.300000   0.600000
std    16.021167  23.018325   0.948683   0.516398
min     2.000000   7.250000   1.000000   0.000000
25%    16.000000   8.820000   1.250000   0.000000
50%    26.500000  18.885000   3.000000   1.000000
75%    35.000000  46.412500   3.000000   1.000000
max    54.000000  71.280000   3.000000   1.000000

In [15]:
# Question 1: Age vs Fare
spearman_r, spearman_p = stats.spearmanr(df['Age'], df['Fare'])

print("="*60)
print(f"Spearman Correlation Coefficient r= {spearman_r:.3f}")
print(f"Spearman Correlation Coefficient p-value = {spearman_p:.3f}")

============================================================
Spearman Correlation Coefficient r= 0.395
Spearman Correlation Coefficient p-value = 0.258

In [16]:
# Question 2: Fare vs Passenger Class
kendall_r, kendall_p = stats.kendalltau(df['Fare'], df['Pclass'])

print("="*60)
print(f"Kendall Correlation Coefficient r= {kendall_r:.3f}")
print(f"Kendall Correlation Coefficient p-value = {kendall_p:.3f}")

============================================================
Kendall Correlation Coefficient r= -0.775
Kendall Correlation Coefficient p-value = 0.005

In [20]:
# Question 3: Age vs Survival

point_biserial_r, point_biserial_p = stats.pointbiserialr(df['Survived'], df['Age'])

print("="*60)
print(f"Point-Biserial Correlation Coefficient r= {point_biserial_r:.3f}")
print(f"Point-Biserial Correlation Coefficient p-value = {point_biserial_p:.3f}")

============================================================
Point-Biserial Correlation Coefficient r= -0.137
Point-Biserial Correlation Coefficient p-value = 0.706