# Very First Program
* The Hello World

In [1]:
# The print() function is used to show something
print('Hello World!')

Hello World!

# Taking User Input
- input(): returns a string, so if the prompt is a number it must be converted to that

In [15]:
# The input() is used to take prompt from the user
work_hours = float(input('Enter Work Hours: '))
rate_per_hour = float(input('Enter rate per hour: '))
gross_pay = work_hours * rate_per_hour
print(f'Your Total Gross Pay: {gross_pay}')

Enter Work Hours:  37
Enter rate per hour:  2.75

Your Total Gross Pay: 101.75

In [6]:
width = 17
height = 12.0

print(width/2)
print(width//2.0)
print(height/3)
print(1+2*3)
print(3**2)
print(8%3)

8.5
8.0
4.0
7
9
2

In [17]:
# Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.
celsius_temperature = float(input('Enter Temperature in Celsius: '))
fahrenheit_temperature = ((9*celsius_temperature)/5)+32
print(f'Fahrenheit Temperature is {fahrenheit_temperature}')

Enter Temperature in Celsius:  36

Fahrenheit Temperature is 96.8

# Variable & Data Types
- A name that refers to a value

In [4]:
message = 'This is a string stored in a variable called \"message"'
print(message)

This is a string stored in a variable called "message"

# Working with number
- integer: whole number like 1,2,3...
- float: floatng point number like 1.2,2.3,3.4......

In [3]:
integer_number = 77
floating_point_number = 27.1267

# Checking the type of the numbers
print(type(integer_number))
print(type(floating_point_number))

# Working with numbers
negative_number = -7

# Absolute value of a number
print(f'Absolute value of {negative_number} is: {abs(negative_number)}')

number = 7

# Power of a number (exponential)
print(f'Exponential of a number:{pow(7,2)}')

# Rounding a number
print(f'Round value of {floating_point_number} is: {round(floating_point_number)}')

# Finding the maximum numberb
print(f'Maximum number is:{max(16,37,9)}')

# Finding the minimum number
print(f'Minimum number is:{min(16,37,9)}')

# Finding the sum of the numbers
# print(f'Maximum number is:{sum(16,37)}') # This will generate an error cause this function is only applicable to iterables
print(f'Sum of the numbers is:{sum([16,37])}')

<class 'int'>
<class 'float'>
Absolute value of -7 is: 7
Exponential of a number:49
Round value of 27.1267 is: 27
Maximum number is:37
Minimum number is:9
Sum of the numbers is:53

# Working with Math module

In [23]:
# Math module
import math

# Square root of a number
print(math.sqrt(9))

# floor: round the floating point number to the nearest whole number down
print(math.floor(6.7))

# ceil: opposite to the floor
print(math.ceil(6.2))

3.0
6
7

In [4]:
# Build a very basic calculator to add two integer numbers
first_number = int(input('Enter a number: '))
second_number = int(input('Enter another number: '))

# Adding two numbers
result = first_number + second_number

print(f'Result = {result}')

Enter a number:  2
Enter another number:  3

Result = 5

# Lists
- can contain multiple itmes

In [26]:
# Creating a list
fruits_list = ['apple','banana','orange','watermelon']
print(fruits_list)
print(type(fruits_list))

# Creating list using list() constructor
number_list = list((1,2,3,4,5,6,7))
print(number_list)
print(type(number_list))

# Creating an empty list
empty_fruit_list = []
print(type(empty_fruit_list))

empty_number_list = list()
print(type(empty_number_list))

# Adding items to the list using the append() method
empty_fruit_list.append('apple')
empty_fruit_list.append('banana')
empty_fruit_list.append('orange')

print(empty_fruit_list)

# Add to a specific position using the insert() method
empty_fruit_list.insert(2,'lemon')
print(empty_fruit_list)

empty_number_list.append(1)
empty_number_list.append(2)
empty_number_list.append(3)
empty_number_list.append(5)

print(empty_number_list)

empty_number_list.insert(3,4)
print(empty_number_list)

['apple', 'banana', 'orange', 'watermelon']
<class 'list'>
[1, 2, 3, 4, 5, 6, 7]
<class 'list'>
<class 'list'>
<class 'list'>
['apple', 'banana', 'orange']
['apple', 'banana', 'lemon', 'orange']
[1, 2, 3, 5]
[1, 2, 3, 4, 5]

In [14]:
# Adding list
# Using the extend() method to extend a list
list_1 = ['a','s','d','f','g']
list_2 = ['q','w','e','r','t']

list_1.extend(list_2)
print(list_1)

# Using the plus poerator
list_3 = ['a','s','m','d','u',1,2,3]
list_4 = list_3 + list_1
print(list_4)

a = ['a','b','c']
n = [1,2,3]
r = a * 2
print(r)

['a', 's', 'd', 'f', 'g', 'q', 'w', 'e', 'r', 't']
['a', 's', 'm', 'd', 'u', 1, 2, 3, 'a', 's', 'd', 'f', 'g', 'q', 'w', 'e', 'r', 't']
['a', 'b', 'c', 'a', 'b', 'c']

In [83]:
# Deleting item

# Using the remove() method
print(list_4)
# list_4.remove('w')
# print(list_4)

# Using pop() method
# list_4.pop()
# print(list_4)

# list_4.pop(5)
# print(list_4)

# Using the del keyword
# del list_4[6]
# print(list_4)

# del list_4[3:5]

# Using clear() method
list_4.clear()
print(list_4)

[]
[]

In [2]:
# Accessing list item
access_list = [1,3,5,7,9,'apple','banana','orange',True,7.7,37.97,[7,8,6]]

# Through indexing
print(access_list[7]) # Positive indexing
print(access_list[-1]) # Negative indexing
print(access_list[-1][0]) # Accessing nested list item

# Through slicing

# Positive slicing
print(access_list[3:7])
print(access_list[3:])
print(access_list[:7])
print(access_list[:])

# Negative slicing
print(access_list[-4:-1])
print(access_list[-3:])
print(access_list[:-3])

orange
[7, 8, 6]
7
[7, 9, 'apple', 'banana']
[7, 9, 'apple', 'banana', 'orange', True, 7.7, 37.97, [7, 8, 6]]
[1, 3, 5, 7, 9, 'apple', 'banana']
[1, 3, 5, 7, 9, 'apple', 'banana', 'orange', True, 7.7, 37.97, [7, 8, 6]]
[True, 7.7, 37.97]
[7.7, 37.97, [7, 8, 6]]
[1, 3, 5, 7, 9, 'apple', 'banana', 'orange', True]

In [3]:
# Changing list itme

# Through indexing
access_list[8] = 'has been changed'
print(access_list)

# Through slicing
access_list[8:10] = ['again changed',17.71]
print(access_list)

access_list[8:10] = ['again True']
print(access_list)

access_list[6:8] = ['again True1','again true2']
print(access_list)

access_list[3:] = ['changed','Changed']
print(access_list)

[1, 3, 5, 7, 9, 'apple', 'banana', 'orange', 'has been changed', 7.7, 37.97, [7, 8, 6]]
[1, 3, 5, 7, 9, 'apple', 'banana', 'orange', 'again changed', 17.71, 37.97, [7, 8, 6]]
[1, 3, 5, 7, 9, 'apple', 'banana', 'orange', 'again True', 37.97, [7, 8, 6]]
[1, 3, 5, 7, 9, 'apple', 'again True1', 'again true2', 'again True', 37.97, [7, 8, 6]]
[1, 3, 5, 'changed', 'Changed']

In [72]:
fruits = ['apple','banana','orange','kiwi','mango']

# Getting the indenx of a item
print(fruits.index('banana'))
print(fruits.index('kiwi'))

# Counting how many times an item occurs
print(fruits.count('apple'))

# Sorting a list in ascending order
fruits.sort()
print(fruits)

# Sorting a list in descending order
fruits.sort(reverse=True)
print(fruits)

fruits.reverse()
print(fruits)

1
3
1
['apple', 'banana', 'kiwi', 'mango', 'orange']
['orange', 'mango', 'kiwi', 'banana', 'apple']
['apple', 'banana', 'kiwi', 'mango', 'orange']

In [40]:
# Copy list

# Using the copy() method
copy_fruits = fruits.copy()
print(copy_fruits)

copy_fruits[1] = 1
print(copy_fruits)
print(fruits)

# Using the reference: will change the original list also
# copy_fruits_2 = fruits
# print(copy_fruits_2)

# copy_fruits_2[2] = 2
# print(copy_fruits_2)
# print(fruits)

# Using the list() constructor
copy_fruits_3 = list(fruits)
print(copy_fruits_3)

copy_fruits_3[3] = 3
print(copy_fruits_3)
print(fruits)

['apple', 'banana', 'kiwi', 'mango', 'orange']
['apple', 1, 'kiwi', 'mango', 'orange']
['apple', 'banana', 'kiwi', 'mango', 'orange']
['apple', 'banana', 'kiwi', 'mango', 'orange']
['apple', 'banana', 'kiwi', 3, 'orange']
['apple', 'banana', 'kiwi', 'mango', 'orange']

In [42]:
# Some operations on list
number = [10,30,23,67,45]
print(sum(number))
print(max(number))
print(min(number))
print(len(number))

175
67
10
5

In [47]:
# Loop lists

# for loop
for item in number:
    print(item)

for i in range(len(number)):
    print(number[i])

# while loop
i = 0
while i < len(number):
    print(number[i])
    i = i + 1

10
30
23
67
45
10
30
23
67
45
10
30
23
67
45

In [56]:
# List comprehension
thislist = [x for x in fruits]
print(thislist)

n = [n for n in range(10)]
print(n)

thislist_2 = [item.upper() for item in fruits if 'a' in item]
print(thislist_2)

thislist_3 = [item if item != 'banana' else 'cherry' for item in fruits]
print(thislist_3)

['apple', 'banana', 'kiwi', 'mango', 'orange']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['APPLE', 'BANANA', 'MANGO', 'ORANGE']
['apple', 'cherry', 'kiwi', 'mango', 'orange']

In [108]:
user_input = input('Enter numbers with comma: ').split(',')
print(user_input)
number = [int(item) for item in user_input]
print(number)
print(sum(number))

Enter numbers with comma:  1

['1']
[1]
1
['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '', '5', '09:14:16', '2008']

# Strings
- collection of characters or text

In [109]:
message = ' Single Line String '
print(message)

message_2 = '''\n"This is a Multi-line String.
We can Write multiple text line.""'''
print(message_2)

# String concatenation
combined_message = "\n" + message +" "+ message_2
print(combined_message)

# Check membership
print('text' in message_2)

if 'text' in message_2:
    print('Found')

# Find the length
print(len(message))

# Format string & some string methods
print(f'Making all the character to upper: {message.upper()}')
print(f'Making all the character to lower: {message.lower()}')
print(f'Making all the character to capitalized: {message.capitalize()}')
print(f'Removing all the whitespace at the beginning and end: {message.strip()}')
print(f'Encoded message: {message.encode()}')
print(f'Checking if ends with: {message.endswith('g')}')
print(f'Checking if ends with: {message.endswith(' ')}')
print(f'Checking if starts with: {message.startswith(' ')}')
print(f'Checking if exist: {message.find('Line')}')
print(f'Replacing with other things i: {message.replace('Line', 'line')}')
print(f'Counting a character how many times appear: {message.count('i')}')


print(message)

 Single Line String

"This is a Multi-line String.
We can Write multiple text line.""

 Single Line String
"This is a Multi-line String.
We can Write multiple text line.""
True
Found
20
Making all the character to upper:  SINGLE LINE STRING
Making all the character to lower:  single line string
Making all the character to capitalized:  single line string
Removing all the whitespace at the beginning and end: Single Line String
Encoded message: b' Single Line String '
Checking if ends with: False
Checking if ends with: True
Checking if starts with: True
Checking if exist: 8
Replacing with other things i:  Single line String
Counting a character how many times appear: 3
 Single Line String

In [1]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
data_list = data.split(' ')
data_list.remove('')
print(data_list)
sender_info = data_list[1:]
print(sender_info)
sender_name = sender_info[0:1]
print(sender_name)
sender = sender_name[0].split('.')
print(sender)

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']
['stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']
['stephen.marquard@uct.ac.za']
['stephen', 'marquard@uct', 'ac', 'za']

# Tuples
- A collection which is ordered and unchangable
- No chnage, no remove, no add
- But can delete the whole tuples

In [28]:
# Create a tuples
this_tuples = ('apple','banana','orange','mango','kiwi')
print(type(this_tuples))

# Using tuple constructor
# tuple_constructor = tuple(('apple'))
tuple_constructor = tuple(('apple',))
print(tuple_constructor)
print(type(tuple_constructor))

# Normall
norma_tuple = ('banana',)
print(type(norma_tuple))
print(norma_tuple)

# Access item
print(this_tuples[0])
print(this_tuples[-2])
print(this_tuples[2:5])

# Occurs error
# this_tuples[1] = 4
# print(this_tuples)

# this_tuples.append(7)

# To do so, first change the tuple to a list, and then do so
convert_to_list = list(this_tuples)
convert_to_list[1] = 4
convert_to_list.append(7)
print(convert_to_list)

# Now convert the list to a tuples
converted_to_tuple = tuple(convert_to_list)
print(type(converted_to_tuple))
print(converted_to_tuple)

<class 'tuple'>
('apple',)
<class 'tuple'>
<class 'tuple'>
('banana',)
apple
mango
('orange', 'mango', 'kiwi')
['apple', 4, 'orange', 'mango', 'kiwi', 7]
<class 'tuple'>
('apple', 4, 'orange', 'mango', 'kiwi', 7)

In [29]:
# delete
del tuple_constructor
# print(tuple_constructor)

# Join tuples
tuple_1 = (1,2,3,4,5)
tuple_2 = ('apple','banana','orange')
resultant_tuple = tuple_1 + tuple_2
print(resultant_tuple)

(1, 2, 3, 4, 5, 'apple', 'banana', 'orange')

In [41]:
# Unpacking the tuples
packed_tuple = ('apple','banana','orange','mango','kiwi') # this is called packing

# Unpacking the tuples
(a,b,o,m,k) = packed_tuple
print(a)
print(b)
print(o)
print(m)
print(k)

# k = 1
# print(k)
print(packed_tuple)

# If the variable is less than the values, we can use the * sign on a variable. It will be assigned as a list to that specific variable
(s,t,*l) = packed_tuple
print(s)
print(t)
print(l)

apple
banana
orange
mango
kiwi
('apple', 'banana', 'orange', 'mango', 'kiwi')
apple
banana
['orange', 'mango', 'kiwi']

In [48]:
# Loop
for fruit in packed_tuple:
    print(fruit)
print('\n')
for i in range(len(packed_tuple)):
    print(packed_tuple[i])

print('\n')

# WHile loop
i = 0
while i < len(packed_tuple):
    item = packed_tuple[i]
    print(item)
    i = i + 1

apple
banana
orange
mango
kiwi


apple
banana
orange
mango
kiwi


apple
banana
orange
mango
kiwi

In [56]:
# Methods 
t_1 = (1,2,3,4,5,3,5,7,6,4,3)
print(t_1.count(3))
print(t_1.index(5))

# Check membership
print(1 in t_1)
print(1 not in t_1)


if 1 in t_1:
    print('Found')

3
4
True
False
Found

# Sets
- Unordered
- Unchangeable: once created no change
- Unindexed
- No duplicate
- But can add and remove

In [2]:
# Create a set
new_set = {1,2,3,3,4,5,6,6,7}
print(type(new_set))
print(new_set)

empty_set = set()
print(type(empty_set))

set_using_constructor = set((1,2,3,4,5,6,7))
print(set_using_constructor)
print(type(set_using_constructor))

# Access
# print(new_set[1]) # Unindexed, so no access through indexing

# Check membership
print(3 in new_set)
print(3 not in new_set)

# Add to set
# Add a single item
empty_set.add(9)
empty_set.add(7)
empty_set.add(8)
empty_set.add(5)
empty_set.add(6)

print(empty_set)

# Add a whole set
targeted_set = {1,2,3,4}
empty_set.update(targeted_set)
print(empty_set)

# update() method can be used to add any iterable to another set
empty_set.update(['apple','banana',False,0,1,True])
print(empty_set)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
True
False
{5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{False, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 'banana'}

In [3]:
# Remove item
# empty_set.remove(9) # If not found, raise error
# print(empty_set)

empty_set.discard(8) # If not found, raise no error
print(empty_set)

# empty_set.pop() # pop a random item
# print(empty_set)

# empty_set.clear() # empty the set
# print(empty_set)

# del empty_set # delete totally 
# print(empty_set)

{False, 1, 2, 3, 4, 5, 6, 7, 9, 'apple', 'banana'}

In [18]:
# Join set
"""
    Doesn't affect the original            Affect the original                 Shortcut
-------------------------------------------------------------------------------------------
1. union()--------------------------------> update()--------------------> |,|=
2. intersection()-------------------------> intersection_update()-------------> &,&=
3. difference()---------------------------> difference_update()---------------> -,-=
4. symmetric_difference()-----------------> symmetric_difference_update()-----> ^,^=
"""

set_a = {1,2,3,4}
set_b = {1,2,3,3,4,4,5,6,7}

# Union
union_set = set_a.union(set_b)
print(union_set)

union_with_list = union_set.union([10,11,23])
print(union_with_list)

# Intersection
intersection_set = set_b.intersection(set_a)
print(intersection_set)

# Difference
set_difference = set_a.difference(set_b)
print(set_difference)

set_difference_2 = set_b.difference(set_a)
print(set_difference_2)

# Symmetric difference
set_difference = set_a.symmetric_difference(set_b)
print(set_difference)

set_difference_2 = set_b.symmetric_difference(set_a)
print(set_difference_2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 10, 11, 23}
{1, 2, 3, 4}
set()
{5, 6, 7}
{5, 6, 7}
{5, 6, 7}

In [22]:
# Using shortcut

# Union
union_set = set_a |set_b
print(union_set)

# union_with_list = union_set| [10,11,23] # with the shortcut symbol, only set can be utilized
# print(union_with_list)

# Intersection
intersection_set = set_b & set_a
print(intersection_set)

# Difference
set_difference = set_a - set_b
print(set_difference)

set_difference_2 = set_b - set_a
print(set_difference_2)

# Symmetric difference
set_difference = set_a ^ set_b
print(set_difference)

set_difference_2 = set_b ^ set_a
print(set_difference_2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4}
set()
{5, 6, 7}
{5, 6, 7}
{5, 6, 7}

In [26]:
# Join with update

a_set = {1,2,3,4}
b_set = {1,2,3,3,4,4,5,6,7}
# Union
a_set.update(b_set)
print(a_set)

a_set.update([10,11,23])
print(a_set)

# Intersection
b_set.intersection_update(a_set)
print(b_set)

# Difference
b_set.difference_update(a_set)
print(b_set)

a_set.difference_update(b_set)
print(a_set)

# Symmetric difference
a_set.symmetric_difference_update(b_set)
print(a_set)

b_set.symmetric_difference_update(a_set)
print(set_difference_2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 10, 11, 23}
{1, 2, 3, 4, 5, 6, 7}
set()
{1, 2, 3, 4, 5, 6, 7, 10, 11, 23}
{1, 2, 3, 4, 5, 6, 7, 10, 11, 23}
{5, 6, 7}

In [32]:
# Some set methods
A = {1,2,3}
B = {1,2,3,4}

"""
1. Disjoint: check if two sets have a common element; if have-false return; otherwise true
2. Subset(like child): A set is a subset of B if all the elements of A are in B
3. Superset(like parent): B is a superset of A if B contains all the elements of A
4. Proper subset: A != B
5. Proper superset: B must have at least one extra element than A
"""
print(A.isdisjoint(B))
print(B.isdisjoint(A))

print(A.issubset(B))
print(B.issubset(A))

print(A.issuperset(B))
print(B.issuperset(A))

print('----------------Shortcut------------')
# Shortcut
print(A <= B)
print(B <= A)

print(A >= B)
print(B >= A)

False
False
True
False
False
True
----------------Shortcut------------
True
False
False
True

In [1]:
# Frozenset: once created, no action can be taken
frozen_set = frozenset({1,2,3,4,5,6,7})
print(type(frozen_set))
print(frozen_set)

<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6, 7})

# Dictionary
- Used to store data values in key:value pairs
- Ordered, changeable, but no duplicate allow

In [29]:
# Creating dictionary
thisdict = {
    "Name": "Asaduzzaman",
    "Age": 23,
    "Department": "Computer Science & Engineering",
    "Section": "9E"
}
print(type(thisdict))
print(thisdict)

# Using dict() constructor
fruit_dict = dict(fruit_1 = 'apple', fruit_2 = 'banana', fruit_3 = 'orange')
print(type(fruit_dict))
print(fruit_dict)

empty_dict = dict()
print(type(empty_dict))

<class 'dict'>
{'Name': 'Asaduzzaman', 'Age': 23, 'Department': 'Computer Science & Engineering', 'Section': '9E'}
<class 'dict'>
{'fruit_1': 'apple', 'fruit_2': 'banana', 'fruit_3': 'orange'}
<class 'dict'>

In [15]:
# Access items
print(thisdict['Name'])

print(thisdict.get('Age'))

print(thisdict.keys()) # return all the keys as list

print(thisdict.values()) # return all the values as list

print(thisdict.items()) # return all the key:value as tyuple list

# Check membership
print('Age' in thisdict)

Asaduzzaman
23
dict_keys(['Name', 'Age', 'Department', 'Section'])
dict_values(['Asaduzzaman', 23, 'Computer Science & Engineering', '9E'])
dict_items([('Name', 'Asaduzzaman'), ('Age', 23), ('Department', 'Computer Science & Engineering'), ('Section', '9E')])
True

In [18]:
# Change items
thisdict['Name'] = 'Asaduzzaman Sheikh'
print(thisdict)

thisdict.update({'Department':'CSE'})
print(thisdict)

{'Name': 'Asaduzzaman Sheikh', 'Age': 23, 'Department': 'Computer Science & Engineering', 'Section': '9E'}
{'Name': 'Asaduzzaman Sheikh', 'Age': 23, 'Department': 'CSE', 'Section': '9E'}

In [21]:
# Add items
empty_dict['Name'] = 'Alice'
print(empty_dict)

empty_dict.update({'Age':23})
empty_dict.update({'Department':'CSE'})
empty_dict.update({'Section': '9E'})

print(empty_dict)

{'Name': 'Alice', 'Age': 23, 'Department': 'CSE'}
{'Name': 'Alice', 'Age': 23, 'Department': 'CSE', 'Section': '9E'}

In [38]:
# Remove items
# fruit_dict.pop('fruit_1')
# print(fruit_dict)

# fruit_dict.popitem() # remove the last inserted item
# print(fruit_dict)

# del fruit_dict['fruit_2']
# print(fruit_dict)

# fruit_dict.clear()
# print(fruit_dict)

# del fruit_dict
# print(fruit_dict)

In [51]:
# Loop dictionary
for i in thisdict:
    print(thisdict[i])
print('----------------------------')
for item in thisdict:
    print(f'{item}: {thisdict[item]}')
print('----------------------------')

for key in thisdict.keys():
    print(key)
print('----------------------------')

for values in thisdict.values():
    print(values)
print('----------------------------')

for key, value in thisdict.items():
    print(f'{key}: {value}')

Asaduzzaman
23
Computer Science & Engineering
9E
----------------------------
Name: Asaduzzaman
Age: 23
Department: Computer Science & Engineering
Section: 9E
----------------------------
Name
Age
Department
Section
----------------------------
Asaduzzaman
23
Computer Science & Engineering
9E
----------------------------
Name: Asaduzzaman
Age: 23
Department: Computer Science & Engineering
Section: 9E

In [53]:
# Copy dictionary
copy_dict = thisdict.copy()
print(type(copy_dict))
print(copy_dict)

second_copy = dict(thisdict)
print(type(second_copy))
print(second_copy)

<class 'dict'>
{'Name': 'Asaduzzaman', 'Age': 23, 'Department': 'Computer Science & Engineering', 'Section': '9E'}
<class 'dict'>
{'Name': 'Asaduzzaman', 'Age': 23, 'Department': 'Computer Science & Engineering', 'Section': '9E'}

In [56]:
# Nested dictionary
parent = {
    'child_1':{
        'Name': 'Asaduzzaman',
        'Age': 23
    },
    'child_2':{
        'Name': 'Alice',
        'Age': 23
    },
    'child_3':{
        'Name': 'John',
        'Age': 25
    }
}

print(type(parent))
print(parent)

<class 'dict'>
{'child_1': {'Name': 'Asaduzzaman', 'Age': 23}, 'child_2': {'Name': 'Alice', 'Age': 23}, 'child_3': {'Name': 'John', 'Age': 25}}

In [64]:
# Access nested dict item
print(parent['child_1']['Name'])

Asaduzzaman

In [71]:
# Loop nested dict
for key,value in parent.items():
    print(f'{key}:')

    # for m,n in value.items():
    #     print(f'{m}: {n}')
    for n in value:
        print(f'{n}: {value[n]}')

child_1:
Name: Asaduzzaman
Age: 23
child_2:
Name: Alice
Age: 23
child_3:
Name: John
Age: 25

In [79]:
# Dictionary methods
keys = {'key1','key2'}
values = 0

formed_dict = dict.fromkeys(keys,values)
print(type(formed_dict))
print(formed_dict)

car = dict(Name = 'Ford', Color = 'White', Model = 'Mustang', Year = 1964)
print(type(car))
print(car)

default_key_value = car.setdefault('Model','Bronco')
print(default_key_value)

<class 'dict'>
{'key1': 0, 'key2': 0}
<class 'dict'>
{'Name': 'Ford', 'Color': 'White', 'Model': 'Mustang', 'Year': 1964}
Mustang

# Conditional execution

In [81]:
# Boolean expression
x = 7
y = 10
print(x == y )
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x is y)
print(x is not y)

False
True
False
True
False
True
False
True

In [84]:
# If condition
if x > y:
    print('Big')
if x < y:
    print('Small')

# Short hand if
if x > y: print("big")

Small

In [89]:
# If Else
if x > y:
    print('Big')
else:
    print('Not Big')

# Short hand
a = 10
b = 10
print('Big') if a > b else print('Tiny')
print('Big') if a > b else print('Same') if a == b else print('Tiny')

Not Big
Tiny
Same

In [96]:
# Logical and, or, not
m = 33
n = 30
o = 35

if m > n and m > o:
    print('M Big')
elif n > m and n > o:
    print('N Big')
else:
    print('O Big')

if m > n or m > o:
    print('One condition is ture')

if not (m > n or m > o):
    print('One condition is ture')

O Big
One condition is ture

In [101]:
# Conditional block with pass statement
if m > n:
    pass

# Nested condition
if m > n:
    if m > o:
        print('Both case satisfied')
    else:
        print('Outer case satisfied')

Outer case satisfied

# Loops

In [16]:
# While loop
i = 0
while i < 6:
    print(i)
    i = i + 1

j = 0
while j < 7:
    if j == 5:
        break
    print(j)
    j = j + 1

k = 0
while k < 9:
    k = k + 1
    k = k + 1
    if k == 5:
        continue
else:
    print('Finished')

0
1
2
3
4
5
0
1
2
3
4
Finished

In [19]:
# Foor loop
for i in range(10):
    print(i)

for i,j in enumerate(range(1,11)):
    print(f'number {i}: {j}')

for i in range(7):
    if i == 5:
        break
    print(i)

for i in range(7):
    if i == 5:
        continue
    print(i)
else: print('Finished')

0
1
2
3
4
5
6
7
8
9
number 0: 1
number 1: 2
number 2: 3
number 3: 4
number 4: 5
number 5: 6
number 6: 7
number 7: 8
number 8: 9
number 9: 10
0
1
2
3
4
0
1
2
3
4
6
Finished