# Functions
- A block of code which only runs when it is called

In [12]:
# Create a function
def first_function():
    print('First function')

# Call the function
first_function()

First function

In [14]:
# Function with return statement
def return_func():
    return 'Return function'
print(return_func())

Return function

In [17]:
# Function with parameters
def add_func(x, y):
    return f'Result: {x + y}'

def subtract_func(x, y):
    return f'Result: {x - y}'

def multiply_func(x, y):
    return f'Result: {x * y}'

def division_func(x, y):
    return f'Result: {x / y:.2f}'


# Calling function
print(add_func(7, 6))
print(subtract_func(7, 6))
print(multiply_func(7, 6))
print(division_func(7, 6))

Result: 13
Result: 1
Result: 42
Result: 1.17

In [35]:
# Default parameter
def default_func(name, age = 22):
    print(f'Hello, {name}')
    print(f'You\'re {age} years old')

default_func('Asaduzzaman', 23)

# Pass a function
def pass_func():
    pass
print()
print('Passing the function')

Hello, Asaduzzaman
You're 23 years old

Passing the function

In [1]:
# Recursion
def recursion_func(n):
    if n > 0:
        result = n + recursion_func(n - 1)
        print(result)
    else:
        result = 0
    return result

# Calling function
recursion_func(6)

1
3
6
10
15
21

21

In [9]:
# *arg and **kwargs
def hello_func(*args, **kwargs):
    for name in args:
        print(f'Hello, {name}')
        for key, value in kwargs.items():
            print(f'{key}: {value}')

hello_func('Asaduzzaman','ALice','John', age = 23, section = '9E', department = 'CSE')

Hello, Asaduzzaman
age: 23
section: 9E
department: CSE
Hello, ALice
age: 23
section: 9E
department: CSE
Hello, John
age: 23
section: 9E
department: CSE

In [20]:
# Unpacking args and kwargs
def course_func(*args, **kwargs):
    print(args)
    print(kwargs)

courses = ['Math','Biology','Chemistry']
instructors = {
    'Math':'John',
    'Biology': 'Bob',
    'Chemistry': 'Alice'
}

course_func(courses, instructors) # without unpacking
course_func(*courses, **instructors) # unpacking

(['Math', 'Biology', 'Chemistry'], {'Math': 'John', 'Biology': 'Bob', 'Chemistry': 'Alice'})
{}
('Math', 'Biology', 'Chemistry')
{'Math': 'John', 'Biology': 'Bob', 'Chemistry': 'Alice'}

# Lambda Function
- A small anonymous function for one time use
- But only one expression

In [45]:
""" Syntax- lambda parameter(s): expression """
add = lambda x,y: f'Result = {x + y}'
print(add(7,6))

subtract = lambda x,y: f'Result = {x - y}'
print(subtract(10,3))

multiply = lambda x,y: f'Product = {x * y}'
print(multiply(7,3))

division = lambda x,y: f'Quotient = {x / y}'
print(division(49,7))

Result = 13
Result = 7
Product = 21
Quotient = 7.0

In [32]:
name = lambda name: f'Hello, {name}'
print(name('Alice'))

full_name = lambda first, last: f'Hello, {first} {last}'
print(full_name('John','Doe'))

Hello, Alice
Hello, John Doe

In [38]:
is_even = lambda n: n % 2 == 0
print(is_even(7))
print(is_even(4))
print()

is_odd = lambda n: n % 2 != 0
print(is_odd(7))
print(is_even(4))

False
True

True
True

In [44]:
# Maximum number between two numbers
max_number = lambda x,y: x if x > y else y
print(max_number(17,8))

# Minimum number between two numbers
min_number = lambda x,y: x if x < y else y
print(min_number(12,5))

17
5

# Map Function
- Executes a specified function for each item in an iterable

In [53]:
""" Syntax - map(function, collections) """

# Using user defined function
celsius_temp = [temp for temp in range(10,80,10)]
print(celsius_temp)

def celsius_to_fahrenheit(temp):
    return ((temp/5)* 9) + 32

fahrenheit_temp = map(celsius_to_fahrenheit, celsius_temp)
# for temp in fahrenheit_temp:
#     print(temp)
print(list(fahrenheit_temp))

[10, 20, 30, 40, 50, 60, 70]
[50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0]

In [54]:
# Using lambda function
celsius_temp = [temp for temp in range(10,80,10)]
print(celsius_temp)

fahrenheit_temp = map(lambda temp: ((temp/5) * 9) + 32, celsius_temp)
# for temp in fahrenheit_temp:
#     print(temp)
print(list(fahrenheit_temp))

[10, 20, 30, 40, 50, 60, 70]
[50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0]